@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
}

.header {
  background: url('./images/nav_bar.png') no-repeat;
  background-size: cover
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

/* Hide scrollbar for IE and Edge */
.scrollableDiv {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.scrollableDiv{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.movie-list{
  height: 100%;
  width: 100%;
  overflow: auto;
}